#title {
  text-align: center;
  font-family: 'Poppins';
  font-size: 50px;
}

#p1 {
  text-align: justify;
  font-family: 'Montserrat';
  font-size: large;
}

.factoid_title {
  font-size: 75px;
  font-weight: bold;
  font-family: 'Poppins';
}

.factoid_content{
  font-family: 'Montserrat';
}

#fact1 {
  margin-top: 50px;
  margin-bottom: 150px;
}

#disease_chart {
  margin-top: 50px;
}


